.reservation-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px; /* Adjust width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ddd; /* Add a thin border */
  border-radius: 5px; /* Add rounded corners */
}

.reservation-form form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

/* Style the input fields */
.reservation-form form input[type="date"] {
  width: 100%; /* Make the input fields full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}
