.reservation-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}