/* General Styling */
:root {
  --bg-color: #1e294e;
  --secondary-bg: #3e4f88;
  --highlight: #516bbe;
  --primary: #ffffff;
  --secondary: #f4eeea;
  --shadow: #00000046;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  min-height: 100dvh;
  background: var(--bg-color);
  background: linear-gradient(0deg, var(--highlight) 0%, var(--bg-color) 100%);
  color: var(--primary);
}

.page-header {
  text-align: center;
  margin: 40px 0;
  font-size: 2.5em;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary);
}

nav h1 a {
  font-size: 1.5em;
  color: var(--bg-color);
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  font-size: 1em;
  text-decoration: none;
  color: var(--bg-color);
}

/* Footer */
.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  padding: 15px;
  background-color: var(--primary);
  box-shadow: 0 -5px 6px var(--shadow);
  display: flex;
  justify-content: space-evenly;
}

footer div {
  min-height: 50px;
  padding: 20px;
  width: 100%;
}

footer div:first-child ul {
  display: flex;
  gap: 10px;
}

footer div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer div h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

footer div h3, footer div ul li {
  color: var(--bg-color);
  list-style: none;
}
